@model IEnumerable<TgAdsStatistics.Models.Post>
@{
    ViewData["Title"] = "Posts";
}

<div class="text-center">
    <h1 class="display-4">Мои посты</h1>
    <table class="table">
        <tr><th>Дата</th><th>Название канала</th><th>Цена поста, р</th><th>Кол-во просмотров</th><th>Кол-во подписчиков</th><th>Цена подписчика, р</th><th>Конверсия, %</th></tr>
        @foreach (var post in Model)
        {
            <tr><td>@post.Date</td><td>@post.Channel.ChannelName</td><td>@post.Cost</td><td>@post.Views</td><td>@post.Subscribers</td><td>@post.SingleSubscriberCost</td><td>@post.Convercy</td></tr>
        }
    </table>
</div>
